<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Menu</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<div class="content">
    <h2>Classical cryptosystems</h2>
    <form class="main-form" th:action="@{/index}" method="POST">
        <label for="alphabet">Alphabet</label> <br>
        <input type="text" name="alphabet" id="alphabet" size="60"/> <br>
        <input type="checkbox" name="default-alphabet" id="default-alphabet" onclick="checkbox()">
        <label for="default-alphabet">Use default alphabet</label> <br>
        <label for="text">Text</label> <br>
        <textarea id="text" name="text"></textarea> <br>
        <label for="key">Key</label> <br>
        <input type="text" name="key" id="key" size="60"/> <br>
        <label for="cipher">Cipher</label> <br>
        <select name="cipher" id="cipher">
            <option>Caesar cipher</option>
            <option>Affine cipher</option>
            <option>Simple substitution cipher</option>
            <option>Hill cipher</option>
            <option>Transposition cipher</option>
            <option>Vigenere cipher</option>
        </select> <br>
        <div>
            <input type="radio" name="task" id="encrypt" value="encrypt" checked>
            <label for="encrypt">encrypt</label>
            <input type="radio" name="task" id="decrypt" value="decrypt">
            <label for="decrypt">decrypt</label>
        </div>
        <br>
        <label>Result</label> <br>
        <label for="result"></label>
        <textarea id="result" name="result" readonly>[[${result}]]</textarea> <br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>